
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy">Copyright &copy; 2015 Plazathemes. All Rights Reserved</div>
            </div>
            <div class="col-sm-6">
                <div class="payment"><img src="~/Content/Client/images/payment.png" alt="" class="img-responsive"></div>
            </div>
        </div>
    </div>
</div>